# terraform.tfvars.example
# AWS settings
#
aws_access_key       = "<access-key>"
aws_flavor           = "t2.medium"
aws_key_name         = "<keyname>"
aws_private_key_file = "/path/to/<keyname>.pem"
aws_region           = "us-east-1"
aws_secret_key       = "<secret-key>"
aws_subnet_id        = "<subnet-id>"
aws_vpc_id           = "<vpc-id>"
#
# tf_chef_server settings
#
accept_license       = "true"
allowed_cidrs        = "0.0.0.0/0,1.1.1.1/1,<whatever>"
ami_os               = "ubuntu14"
client_version       = "12.10.24"
domain               = "itergo.com"
hostname             = "chef"
log_to_file          = "true"
org_short            = "<orgname-short>"
org_long             = "<orgname-long>"
public_ip            = "[true"
root_delete_termination = "[true|false]"
root_volume_size     = "<size-in-gb>"
root_volume_type     = "standard"
server_addons        = "manage,push-jobs-server,reporting"
server_count         = "1"
server_version       = "12.6.0"
ssl_cert             = "/path/to/<certfile>.crt"
ssl_key              = "/path/to/<keyfile>.key"
tag_description      = "My Chef Server"
username             = "admin"
user_email           = "your@email.address"
user_firstname       = "admin"
user_lastname        = "user"
